# rcslow.cfg
    clkfreq: 20000
    clkmode: RCSLOW
    baudrate: 115200
    rxpin: 31
    txpin: 30
    tvpin: 20   # only used if TV_DEBUG is defined
    cache-driver: eeprom_cache.dat
    cache-size: 8K
    cache-param1: 0
    cache-param2: 0
    eeprom-first: TRUE
