# c3.cfg
# IDE:SDLOAD
# IDE:SDXMMC
    clkfreq: 80000000
    clkmode: XTAL1+PLL16X
    baudrate: 115200
    rxpin: 31
    txpin: 30
    tvpin: 12   # only used if TV_DEBUG is defined
    cache-driver: c3_cache.dat
    cache-size: 8K
    cache-param1: 0
    cache-param2: 0
    sd-driver: sd_driver.dat
    sdspi-do: 10
    sdspi-clk: 11
    sdspi-di: 9
    sdspi-clr: 25
    sdspi-inc: 8
    sdspi-addr: 5
