# Propeller activity board configuration.
# IDE:SDXMMC
clkfreq: 80000000
clkmode: XTAL1+PLL16X
baudrate: 115200
rxpin: 31
txpin: 30

# cache geometry - 128 * 64 = 8192 byte cache
index-width: 7      # 2^7 = 128 cache lines
offset-width: 6     # 2^6 = 64 byte cache lines

cache-geometry: ({index-width} << 8) | {offset-width}
xmem-driver: eeprom_xmem.dat
eeprom-first: TRUE

sd-driver: sd_driver.dat
sdspi-do: 22
sdspi-clk: 23
sdspi-di: 24
sdspi-cs: 25
